<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <script>
      function removeFromCollection(filmID, filmName) {
        if (confirm('Remove ' + filmName + ' from <%= collection.name -%>?')) {
          $.get("/collection/<%= collection.id -%>/remove/" + filmID, function(data, status) {
            $("#film_row_" + filmID).remove();
          });
        }
      }
    </script>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Collection <%= collection.name -%></h1>
        <% if (films.length > 0) { -%>
          <h2>There are <%= collection.film_count -%> films in this collection</h2>
        <% } -%>
      </div>
    </div>
    <% if (films.length > 0) { -%>
      <div>
        <table class="table">
          <tr>
            <th>Film name</th>
            <th>Actions</th>
          </tr>
          <% films.forEach(function(film) { -%>
            <tr id="film_row_<%= film.id -%>">
              <td><%= film.name -%></td>
              <td>
                <a href="/film/<%= film.id -%>"><span class="fas fa-eye" data-toggle="tooltip" title="Film detail" /></a>
                <span class="fas fa-unlink" data-toggle="tooltip" title="Remove film from collection" onclick="removeFromCollection(<%= film.id -%>, '<%= film.name -%>')"/>
              </td>
            </tr>
          <% }); -%>
        </table>
      </div>
    <% } -%>
  </body>
</html>
