<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <script>
      function addToCollection(filmID) {
        $.get("/collection/<%= collection.id -%>/add/" + filmID, function(data, status) {
          $('#film_row_' + filmID).remove();
        });
      }
    </script>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Collection <%= collection.name -%> add films</h1>
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Film name</th>
          <th>Actions</th>
        </tr>
        <% films.forEach(function(film) { -%>
          <tr id="film_row_<%= film.id -%>">
            <td><%= film.name -%></td>
            <td>
              <span class="fas fa-link" data-toggle="tooltip" title="Add film to collection" onclick="addToCollection('<%= film.id -%>')" />
            </td>
          </tr>
        <% }) -%>
      </table>
    </div>
  </body>
</html>
