<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Collection <%= collection.name -%> remove films</h1>
      </div>
    </div>
    <% if (films.length > 0) { -%>
      <div>
        <table class="table">
          <tr>
            <th>Film name</th>
            <th>Actions</th>
          </tr>
          <% films.forEach(function(film) { -%>
            <tr>
              <td><%= film.name -%></td>
              <td>
                <a href="/collection/<%= collection.id -%>/remove/<%= film.id -%>" onclick="return confirm('Remove <%= film.name -%> from <%= collection.name -%>?')">
                  <span class="fas fa-unlink" data-toggle="tooltip" title="Remove film from collection" />
                </a>
              </td>
            </tr>
          <% }) -%>
        </table>
      </div>
    <% } -%>
  </body>
</html>
