<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Collections</h1>
        <h2>There are <%= collections.length %> collections</h2>
        <h2><a href="/create/collection" class="btn btn-primary">Add collection</a></h2>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Name</th>
        <th>Films in collection</th>
        <th>Actions</th>
      </tr>
      <% collections.forEach(function(collection) { -%>
        <tr>
          <td><%= collection.name -%></td>
          <td><%= collection.collection_count -%></td>
          <td>
            <a href="/collection/<%= collection.id -%>"><span class="fas fa-eye" data-toggle="tooltip" title="Collection detail"></span></a>
            <a href="/collection/<%= collection.id -%>/add_films"><span class="fas fa-link" data-toggle="tooltip" title="Add films to collection" /></a>
            <% if (collection.collection_count > 0) { -%>
              <a href="/collection/<%= collection.id -%>/remove_films"><span class="fas fa-unlink" data-toggle="tooltip" title="Remove films from collection" /></a>
            <% } -%>
          </td>
        </tr>
      <% }); -%>
    </table>
  </body>
</html>
