<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Films</h1>
        <h2>There are <%= films.length %> films</h2>
        <h2><a href="/create/film" class="btn btn-primary">Add film</a></h2>
      </div>
    </div>
    <table class="table">
      <tr>
        <th>Title</th>
        <th>In collections</th>
        <th>Actions</th>
      </tr>
      <% films.forEach(function(film) { -%>
        <% console.dir(film); -%>
        <tr>
          <td><%= film.name -%></td>
          <td><%= film.collection_count -%></td>
          <td>
            <a href="/film/<%= film.id -%>"><span class="fas fa-eye" data-toggle="tooltip" title="Film detail"></span></a>
            <a href="/film/<%= film.id -%>/add_to_collections"><span class="fas fa-link" data-toggle="tooltip" title="Add to collections"></span></a>
            <% if (film.collection_count != 0) { -%>
              <a href="/film/<%= film.id -%>/remove_from_collections"><span class="fas fa-unlink" data-toggle="tooltip" title="Remove from collections" /></a>
            <% } -%>
            <a href="/film/delete/<%= film.id -%>" onclick="return confirm('Delete <%= film.name -%> permanently?')"><span class="fas fa-trash" data-toggle="tooltip" title="Delete film"></span></a>
          </td>
        </tr>
      <% }) -%>
    </table>
  </body>
</html>
