<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <script>
      function addToCollection(collectionID) {
        $.get("/film/<%= film.id -%>/add_to/" + collectionID, function(data, status) {
          $('#collection_row_' + collectionID).remove();
        });
      }
    </script>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Film <%= film.name -%> add to collections</h1>
      </div>
    </div>
    <div>
      <table class="table table-striped">
        <tr>
          <th>Collection name</th>
          <th>Actions</th>
        </tr>
        <% collections.forEach(function(collection) { -%>
          <tr id="collection_row_<%= collection.id -%>">
            <td><%= collection.name -%></td>
            <td>
              <span class="fas fa-link" data-toggle="tooltip" title="Add film to collection" onclick="addToCollection('<%= collection.id -%>')" />
            </td>
          </tr>
        <% }) -%>
      </table>
    </div>
  </body>
</html>
