<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <script>
      function removeFromCollection(collectionID, collectionName) {
        if (confirm('Remove <%= film.name -%> from ' + collectionName + '?')) {
          $.get("/film/<%= film.id -%>/remove_from/" + collectionID, function(data, status) {
            $("#collection_row_" + collectionID).remove();
          });
        }
      }
    </script>
  </head>
  <body>
    <% include ../partials/navigation %>
    <div class="container">
      <div class="jumbotron text-center">
        <h1>Film <%= film.name -%></h1>
        <% if (collections.length > 0) { -%>
          <h2>This film is in <%= collections.length -%> collection<%= collections.length != 1  ? 's' : '' -%>  </h2>
        <% } -%>
      </div>
    </div>
    <% if (collections.length > 0) { -%>
      <h2>Collections</h2>
      <table class="table">
        <tr>
          <th>Collection</th>
          <th>Actions</th>
        </tr>
        <% collections.forEach(function(collection) { -%>
          <tr id="collection_row_<%= collection.id -%>">
            <td><%= collection.name -%></td>
            <td>
              <a href="/collection/<%= collection.id -%>"><span class="fas fa-eye" data-toggle="tooltip" title="Collection detail"></span></a>
              <span class="fas fa-unlink" data-toggle="tooltip" title="Remove film from collection" onclick="removeFromCollection(<%= collection.id -%>, '<%= collection.name -%>')"/>            </td>
          </tr>
        <% }) -%>
      </table>
    <% } -%>
  </body>
</html>
